*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.head {
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}
.head1 {
    /* text-decoration: underline; */
    text-align: center;
    position: absolute;
    top: 50px;
    left: 570px;
    transform: text-decoration 0.5s ease;
}
.head1:hover{
    text-decoration: underline;
}

 .container{
    height: 300px;
    width: 400px;
    border: 2px solid;
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.5);
    margin: 40px 500px;
    /* background-color: rgb(201, 90, 192); */
    border-radius: 10px;
    /* position: absolute;
    top: 30px; */
}
.one{
    margin: 10px 30px;
    padding: 10px;
    /* background-color: rgb(199, 201, 90); */
}
label{
    margin-right: 30px;
}
button{
    width: 150px;
    height: 30px;
    margin-left: 120px;
    border-radius:5px ;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: blue;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
}
p{
    text-align: center;
    padding: 10px;
}
button:hover{
    width: 300px;
    margin-left: 50px;
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.5);
}
input:hover{
       box-shadow: 10px 10px 20px rgba(0, 0,0, 0.3); 
       border-radius: 5px;
}
.container {
    position: absolute;
    top: 70px;
}
img{
    filter:  opacity(75%);
}
